.footer {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 1rem;
}
.tagline h5 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}
.details {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.socials {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
.socialIcon {
  display: flex;
  column-gap: 1rem;
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 1120px;
    padding: 2.5rem 1rem;
    margin: 0 auto;
  }
  .tagline h5 {
    max-width: 288px;
  }
  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
