.hero {
  display: flex;
  flex-direction: column;
  padding: 64px 16px 18px;
  text-align: center;
  row-gap: 3rem;
}
.heroTitle h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.heroCover {
  display: block;
}

.services {
  padding: 48px 16px;
  background-color: #dcd4d8;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.serviceTitle h3,
.serviceItemText h5 {
  font-size: 1.25rem;
}
.serviceDetails {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.serviceItem,
.serviceItemText {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.menu {
  padding: 48px 16px;
  background-color: #455040;
  color: #f8d6b4;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  text-align: center;
}
.menuTitle h3 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
}
.menuList {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.menuList p {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.about {
  padding: 16px 16px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.2rem;
}
.aboutDetails {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 2rem;
}
.aboutText {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.aboutText h3 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

@media screen and (min-width: 640px) {
  .hero {
    padding: 64px 16px 18px;
  }
}

@media screen and (min-width: 1024px) {
  .heroCaption {
    max-width: 800px;
    margin: 0 auto;
  }
  .serviceDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
  }
  .about {
    padding: 0;
    padding-bottom: 48px;
    max-width: 1120px;
    margin: 0 auto;
    row-gap: 2rem;
  }
  .aboutDetails {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
  .aboutCover {
    padding: 1rem;
  }
}
