.hero {
  display: flex;
  flex-direction: column;
  padding: 64px 16px 18px;
  text-align: center;
  row-gap: 3rem;
}
.heroTitle h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.heroCover {
  display: block;
}

.menus {
  padding: 48px 16px;
  background-color: #455040;
  color: #f8d6b4;
}
.menuDetails {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.menu {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.menuTitle h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.menuList {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.menuItem {
  display: flex;
  flex-direction: column;
  row-gap: 0.875rem;
}
.menuItemDetails {
  display: flex;
  flex-direction: column;
}
.menuName,
.menuPrice {
  font-size: 1.125rem;
}
.menuName {
  text-transform: capitalize;
}
.menuDesc {
  font-size: 0.875rem;
}

.order {
  display: flex;
  flex-direction: column;
  padding: 48px 16px;
  row-gap: 3rem;
}
.orderTitle {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  text-align: center;
}
.orderTitle h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.orderTitle h5 {
  font-size: 1.25rem;
  text-transform: capitalize;
  font-weight: 500;
}
.orderMenus {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}
.orderMenu {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.orderMenuDetails {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  text-align: center;
}
.orderMenuName {
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: capitalize;
}
.orderMenuPrice {
  font-weight: 600;
  font-size: 1.125rem;
}
.orderMenuImage {
  transition: 0.3s ease-in-out all;
}
.orderMenuImage:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 640px) {
  .menuItem {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1.5rem;
  }

  .orderMenus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }
}

@media screen and (min-width: 768px) {
  .menus {
    padding: 64px 16px;
  }
  .menuList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }
  .menuItemDetails {
    row-gap: 0.5rem;
  }

  .orderMenus {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .hero,
  .menuDetails,
  .orderMenus {
    max-width: 1120px;
    margin: 0 auto;
  }
  .heroTitle h1 {
    font-size: 6rem;
  }
  .heroCaption {
    max-width: 800px;
    margin: 0 auto;
  }

  .menuList {
    padding: 0 16px;
  }
}

@media screen and (min-width: 1200px) {
  .orderMenus {
    padding: 0 1rem;
  }
}
